*{
    padding: 0;
    margin: 0;
}

.bigOffer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right:100px ;
    padding-left: 100px;
    margin-top: 75px;
    margin-bottom: 50px;
}

#boxOfBigOffer{
/* border: red solid; */
height: 320px;
width:600px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: start;
background-repeat: no-repeat;
}

#pargraphOneOfBigOffer{
    margin: 10px 20px;
    color: white;
    font-size: 20px;
}

#titleOfBigOffer{
font-size: 15px;
margin: 10px 20px;
color: white;
}

#pargraphTwoOfBigOffer{
    z-index: 2;
    margin: 10px 20px;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

#buttonOfBigOffer{
    margin: 10px 20px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: transparent;
    border-color:white;
    
}

#buttonOfBigOffer:hover{
    background-color: rgb(8, 129, 117);
    border-color:rgb(8, 129, 117);
}